body{
    background-color: darkgray;
}
h1{
    text-align: center;
    text-decoration: none;
    background-color: gray;
    font-family:;
    margin: -4px;
    margin-top: -112px;
    padding: 42px;  
}
img {
    
}
nav a{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}
